<p>Desde aca comienza el componente login!</p>
<div >
    <p>
   <mat-form-field appearance="outline" class="username">
       <mat-label>Username</mat-label>
       <input #input2 matInput type="text" placeholder="" formControlName="modelo" maxlength="15">
       <mat-hint align="end">{{input2.value?.length || 3}}/15</mat-hint>
   </mat-form-field>
   </p> 
   <p>
   <mat-form-field appearance="outline" class="pasword">
       <mat-label>Password</mat-label>
       <input #input2 matInput type="text" placeholder="" formControlName="modelo" maxlength="15">
       <mat-hint align="end">{{input2.value?.length || 3}}/15</mat-hint>
   </mat-form-field>
   </p>  
   <p>
       <button type="submit" mat-raised-button color="black"  class="btn_iniciar">
           <mat-icon></mat-icon><span>Iniciar Sesion</span>
       </button>
   </p>
   </div>
